/* -- VARIABLES -- */
$default-font: Arial, sans-serif;
$secondary-font: 'Damion';
$tertiary-font :Impact, sans-serif;
$default-link-color: #000;
$default-link-hover-color: #B8860B;
$default-bg-color: #FFF;
$ul-border-color: #999;
$a-bg-color: #EEE;
$a-border-color:#CCC;
$a-hover-border-color: #666;
$a-text-shadow: #333;
$people-hover-color:#4169E1;
$people-text-color:#FFD700;
$gold-bg-color: #FFD700;
$last-div-bg-color:#212121;
$a-people-hover-color: #4169E1;
$link-light-purple: #CCD;